.square {
    width: 100px;
    height: 100px;
    background-color: darkgray;
}

.padding-10{
    padding: 10x;
}
.border-box {
    box-sizing: border-box;
}
.margin-100{
    margin: 100px;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-50 {
    /* t l r b */
    margin: 50px 50px 50px 50px;
}
.margin-3 {
    /* t lr(같이) b */
    margin: 10px 20px 30px;
}
.margin-2{
    /* tb lr */
    margin: 10px 20px;
}
/* margin: auto >> 가운데 정렬 */
/* margin-left: auto >> 왼쪽에 여백을 보냄(네모는 오른쪽) */
.border{
    /* border: 1px solid aqua >> border: 두께 스타일 색깔 순으로 써주면 전체적용*/
    border-style: dashed;
    border-bottom-style: double;
    border-top-style: solid;
    border-left-style: inset;
    border-bottom-color: aqua;
    border-top-color: brown;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: wheat;
}

.football{
    width: 90px;
    height: 90px;
    background-color: brown;
    border-radius: 15px 75px;
    /*     top&bottom   left&right  */
}